@import "reset.css";

/* status bar */
@import "components/statusbar.css";

@import "components/navbar.css";

@import "components/screen-header.css";

@import "components/badge.css";

@import "components/usercomponents.css";

/* personel color */
@import "variables.css";

/* login page */
@import "screens/login.css";

@import "screens/friends.css";

@import "screens/chats.css";

@import "screens/search.css";

@import "screens/guitar.css";

@import "screens/chatroom.css";

body {
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  padding: 95px 25px;
  display: flex;
  flex-direction: column;
}
