.nav {
  position: fixed;
  bottom: 0px;
  border-top: 1px solid lightgray;
  height: 70px;
  width: 100%;
  background-color: #f9f9fa;
  color: #2f363e;
  padding: 20px 60px;
  box-sizing: border-box;
}
.nav_list {
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
}
.nav_btn--chat {
  position: relative;
}
.nav_btn--chatquantity {
  position: absolute;
  left: 15px;
  bottom: 15px;
}
