.screen_header {
  display: flex;
  padding: 20px 20px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 22px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  z-index: 10;
}
.screen_header--title {
  font-size: 30px;
  font-weight: bold;
}
.screen_header--icon {
  box-sizing: border-box;
}
.screen_header--icon-music {
  padding: 0px 10px;
}
.screen_header--icon-open {
  padding-left: 10px;
}
