.status_bar {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  padding: 3px 5px;
  width: 100%;
  background-color: white;
}
.status_bar--colomn {
  width: 33%;
}
.status_bar--colomn:first-child {
  margin-right: 5px;
}
.status_bar--colomn:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status_bar--colomn:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  margin-right: 9px;
}
.status_bar--colomn .fa-battery-quarter {
  margin: 0px 5px;
}
