.usercomponents_margin {
  margin-right: 10px;
}
.lightgray {
  color: var(lightgray);
}
.cover {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.border_radius_10px {
  border-radius: 10px;
}

.KAKAO {
  background-color: var(--KAKAO);
}
